include license.txt
include code-of-conduct.md
include requirements.txt
include floodmodeller_api/test/test_data/*
include floodmodeller_api/toolbox/gui/*
recursive-include floodmodeller_api *.dll
exclude sample_code/*

