:root {
    --pst-color-link: 0,123,255;
    --pst-color-sidebar-link-active: 51,51,51;
    --pst-color-navbar-link-active: 51,51,51;
    --pst-color-h1: 51,51,51;
    --pst-color-h2: 0,123,255;
    --pst-color-h3: 0,123,255;
}

html[data-theme="light"] {
    --pst-color-primary: black;
    --pst-color-link: #0061cf;
    --pst-color-secondary: #0ad287;
    --sd-color-secondary: #0ad287;
    --sd-color-secondary-text: #fff;
    --sd-color-secondary-highlight: #6c757d;
}

@font-face {
    font-family:'JCR' ;
    src: url("JacobsChronos_Rg.ttf");
}
.JCR{
    font-family:'JCR' ;
}


body {
    font-family: 'JCR';
}

.prev-next-area a p.prev-next-title {
    color: #0A7DFF;
}

/*
h1, h2 {
    color: #0A7DFF;
} works but only for single sections sections
*/

i.fas, i.fab {
    color: #0A7DFF
}

footer .footer-item p {
    color: #ffffff;
}

/* footer { */
    /* background-color: white; */
/* } */

.bd-footer-article {
    background-color: white;
}

.bd-footer {
    background-color: #333333;
}

.search-button__kbd-shortcut {
    visibility: hidden;
}

.navbar-item.navbar-persistent--container {
    visibility: hidden;
}

.col-md-3 { 
    position: sticky;
}

.bd-sidebar {
    height: var(--pst-header-height)+1;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 0;
}

footer .footer-item h5,
footer .footer-item a, footer .footer-item p, 
footer .footer-item i.fas, footer .footer-item i.fab {
    color: #b7b7b7;
}

div#navbar-end {
    text-align: right;
}

div#navbar-center {
    width: 100%;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}